#topnav{
    background-color:rgb(101,161,91) ;
    color: white;
    display: flex;
    justify-content: space-between;
}
#nav{
display: flex;
justify-content: space-around;
}

#navbar{
display: flex;
justify-content: flex-end;

}


#vallona{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span{
    color: rgb(101,161,91);
}

.fa-solid fa-v{
    zoom: 1%;
}

#terradium-collection{
    
    
}
#fall-summer{
    position: absolute;
    color: white;
    transform: translateY(360%);


}
#landing-plants{

}
.landing-page-one{
    display: flex;
    flex-direction: row;
}
#landing-page{
    display: flex;
    justify-content: space-evenly;
}

#ai-generated-plant{
    zoom: 15%;
}
#cactus{
    zoom: 21%;
    object-fit: cover;
    
}
#chilli-plant{
    zoom: 30%;
    position: absolute;
    
}
.landing-page-one{
    display: flex;
    flex-direction: column;
}
#plants-on-sale{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;

}
#fourty-off{
    zoom: 20%;
}
#trending-photo{
    zoom: 23%;
    
}
#potted-in-home-photo{
    zoom: 20%;
}
.plants-on-sale-one{
    display: flex;
    justify-content: space-around;
    gap: 2%;
    background-color: darkgray;
}
#all-plants-title{
    display: flex;
    justify-content: center;
    gap: 1%;
    font-size: larger;
    margin-top: 5%;
}
.all-plants-photos{
    zoom: 20%;
    gap: 2%;
}
.all-plants-column{
    flex: 25%;
    padding: 0 4px;
}
#all-plants-row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
   
}
#all-plants-new-plants{
    display: flex;
}
#oval-shape{
    zoom: 60%;
    object-fit: cover;
}
/* .all-plants-column-captions{
    display: flex;
    justify-content: space-evenly;
} */
button{
    color: white;
    background-color: rgb(110,168,32);
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 10px;
}
#featured-product{
    text-align: center;
}
#featured-product-caption{
    text-align: center;
}
#Air-Plants-in-Bathroom{
    zoom: 65%;
    object-fit: cover;
}
#featured-products{
    display: flex;
    justify-content: space-evenly;
    
}
#Living-things{
    background-image: url(/images/flower-3033229_1280.jpg);
    height: min-content;
    text-align: center;
    color: white;
    margin-bottom: 4%;
    margin-top: 5%;
    width:100%;
}
#Living-things-grows{
    font-size: x-large;
    font-weight: bold;
}
.amaizing-spring-images{
   zoom: 15%; 
   object-fit: cover;
}
#Amaizing-Spring-title{
    font-size: large;
}
#Amaizing-Spring{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-evenly;
    margin-left: 20%;
   
}
.Amaizing-Spring-column{
    flex: 50%;
    padding: 0 4px;

}
#captions{
    display: flex;
}
#cactus-tree{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
}
#cactus-image{
    zoom: 45%;
}
#blog-updates{
    display: flex;
    justify-content: space-around;

}
.latest-blog-images{
    zoom: 21%;
}
#latest-blog-title{
    text-align: center;
}
.testimonials-title{
    text-align: center;
}
.female{
    zoom: 14%;
    border: solid 1px transparent;
    border-radius: 6%;
}
.female-one{
    zoom: 9%;
    border: solid 1px transparent;
    border-radius: 6%;
}
#customers-testimonials{
    margin-top: 5%;
}
#best-testimonials{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#footer{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
#subscription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#icons{
    justify-content: space-between;
}
#Copyright{
    color: darkgray;
    font-size: x-small;
    text-align: center;
}
@media  screen and (min-width:300px)and (max-width:900px){
    body{
    
    }
    #plants-on-sale{
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-evenly;
        margin-top: 5%;
        width: 25%;
    
    }
    #all-plants-new-plants{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow: hidden;
    }
    #oval-shape{
        zoom: 60%;
        object-fit: cover;
        width: 75%;
    }
    #all-plants-title{
        display: flex;
        justify-content: flex-start;
        gap: 1%;
        font-size: larger;
        margin-top: 5%;

    
    }
    #featured-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }
    
}